.box1-text-top {
    width: 436px;
    height: 256px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    margin: 154px 257px 32px 147px;
}

.box1-text-botton {
    width: 435px;
    height: 96px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    margin: 0 258px 38px 147px;
    color: #375361;
}

.box-btn-1 {
    box-sizing: border-box;
    position: absolute;
    height: 54px;
    width: 163px;
    background: #F9C600;
    border: 1px solid #F9C600;
    border-radius: 4px;
    margin-left: 147px;
    cursor: pointer;

}

.box-btn-2 {
    box-sizing: border-box;
    width: 163px;
    position: absolute;
    height: 54px;
    border: 1px solid #0B2330;
    border-radius: 4px;
    margin-left: 326px;
    cursor: pointer;
}
.box1-btn-left{
    display: flex;
    flex-direction: row;
}

.box-1-right{
    width: 600px;
    height: 886px;
    background: #F9C600;
    border-radius: 0;

}

.box-1{
    display: flex;
}

.image{
    width: 608px;
    height: 541px;
    margin: 172px 102px 173px -102px;
}

